.env
.env.local
.env.*.local
/vendor/
/node_modules/
/.idea/
/.vscode/
.DS_Store
*.log
*.cache

docker-compose.override.yml
*.pid

composer.lock

.phpunit.result.cache
/tests/output/

data/**/lang.txt
data/**/user_config.json
data/**/*.sqlite

/build/
/dist/

*.bak
*.swp
*.swo

sessions
docs_md
session.mad
*.madeline
*.madeline.*
madeline.phar
madeline.phar.version
madeline.php

*.save
*.save.1
*.save.*